* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background: #e6eff5;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

body #container {
  max-width: 311px;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
          box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

body #container main {
  padding: 28px 24px 32px 24px;
  background: #ffffff;
}

body #container main h1 {
  color: #2ab3b1;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

body #container main .sub-header {
  font-size: 15px;
  line-height: 20px;
  color: #c0df33;
  letter-spacing: -0.1875px;
  margin-bottom: 16px;
}

body #container main .main-body {
  font-size: 14px;
  line-height: 26px;
  color: #9aa7be;
  letter-spacing: -0.175px;
}

@media only screen and (min-width: 640px) {
  body #container main .main-body {
    font-size: 16px;
    letter-spacing: -0.2px;
  }
}

@media only screen and (min-width: 640px) {
  body #container main {
    padding: 40px;
  }
}

body #container section {
  width: 100%;
}

body #container section > * {
  padding: 24px;
}

body #container section > * h2 {
  font-size: 18px;
  letter-spacing: -0.225px;
  color: #ffffff;
  margin-bottom: 18px;
}

body #container section .first-article {
  width: 100%;
  background: #2ab3b1;
}

body #container section .first-article .price1,
body #container section .first-article .price2,
body #container section .first-article .price-description {
  color: #ffffff;
}

body #container section .first-article .price1 {
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.4px;
  margin-right: 11px;
}

body #container section .first-article .price2 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  opacity: 0.5;
}

body #container section .first-article .month-price {
  margin-bottom: 10px;
}

body #container section .first-article .price-description {
  font-size: 16px;
  letter-spacing: -0.2px;
  margin-bottom: 26px;
}

body #container section .first-article .sign-up {
  width: 263px;
  height: 48px;
  border: none;
  background: #c0df33;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

body #container section .first-article .sign-up:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body #container section .second-article {
  width: 100%;
  background: #00cac5;
}

body #container section .second-article .second-article-text {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.75;
  letter-spacing: -0.175px;
  padding-right: 60px;
}

@media only screen and (min-width: 640px) {
  body #container section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 640px) {
  body #container {
    max-width: 635px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */