* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// typography

// Layout
body {
  font-family: "Karla", sans-serif;
  background: #e6eff5;
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 10px;
  #container {
    max-width: 311px;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;

    .main-content {
      padding: 28px 24px 32px 24px;
      background: #ffffff;
      h1 {
        color: #2ab3b1;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.25px;
        margin-bottom: 24px;
        @media only screen and (min-width: 640px) {
          font-size: 24px;
          letter-spacing: -0.3px;
        }
      }
      .sub-header {
        font-size: 15px;
        line-height: 20px;
        color: #c0df33;
        letter-spacing: -0.1875px;
        margin-bottom: 16px;
        @media only screen and (min-width: 640px) {
          font-size: 18px;
        }
      }
      .main-body {
        font-size: 14px;
        line-height: 26px;
        color: #9aa7be;
        letter-spacing: -0.175px;
        @media only screen and (min-width: 640px) {
          font-size: 16px;
          letter-spacing: -0.2px;
        }
      }
      @media only screen and (min-width: 640px) {
        padding: 40px;
      }
    }
    .article {
      width: 100%;

      > * {
        padding: 24px;
        h2 {
          font-size: 18px;
          letter-spacing: -0.225px;
          color: #ffffff;
          margin-bottom: 18px;
        }
        @media only screen and (min-width: 640px) {
          padding: 40px;
        }
      }
      .first-article {
        width: 100%;

        background: #2ab3b1;
        .price1,
        .price2,
        .price-description {
          color: #ffffff;
        }
        .price1 {
          font-size: 32px;
          line-height: 37px;
          letter-spacing: -0.4px;
          margin-right: 11px;
        }
        .price2 {
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.2px;
          opacity: 0.5;
        }
        .month-price {
          margin-bottom: 10px;
        }

        .price-description {
          font-size: 16px;
          letter-spacing: -0.2px;
          margin-bottom: 26px;
        }
        .sign-up {
          width: 263px;
          height: 48px;
          border: none;
          background: #c0df33;
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
          color: #ffffff;
          border-radius: 5px;
          cursor: pointer;
          transition: transform 250ms ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
          @media only screen and (min-width: 640px) {
            width: 237px;
            height: 48px;
          }
        }
      }
      .second-article {
        width: 100%;
        background: #00cac5;
        .second-article-text {
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
          opacity: 0.75;
          letter-spacing: -0.175px;
          padding-right: 60px;
        }
      }
      @media only screen and (min-width: 640px) {
        display: flex;
        flex-direction: row;
      }
    }
    @media only screen and (min-width: 640px) {
      max-width: 635px;
      flex-direction: row;
    }
  }
}
